In [1]:
import pandas as pd
import web_glassdoor_scraper as gs

In [2]:
path = 'C:\Program Files (x86)\chromedriver_win32\chromedriver.exe'

In [3]:
df = gs.get_jobs('data scientist', 2000, False, path, 20)

 selected out worked
 x out worked
Progress: 0/5
salary sucess
rating sucess
Progress: 1/5
salary sucess
rating sucess
Progress: 2/5
salary sucess
rating sucess
Progress: 3/5
salary sucess
rating sucess
Progress: 4/5
salary sucess
rating sucess
Progress: 5/5

In [4]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist - IT,₹4L - ₹6L (Glassdoor Est.),Job Location Mumbai\n\nJob Description\n\nAbou...,4.2,Procter & Gamble\n4.2,Mumbai,10000+ Employees,1837,Company - Public,Consumer Product Manufacturing,Manufacturing,$10+ billion (USD)
1,Senior Analytics Consultant,₹4L - ₹6L (Glassdoor Est.),About this role:\n\nWells Fargo is seeking a S...,3.7,WELLS FARGO BANK\n3.7,Chennai,10000+ Employees,1852,Company - Public,Banking & Lending,Finance,$10+ billion (USD)
2,Analytics Consultant,₹4L - ₹6L (Glassdoor Est.),About this role:\n\nThe Customer Remediation A...,3.7,WELLS FARGO BANK\n3.7,Chennai,10000+ Employees,1852,Company - Public,Banking & Lending,Finance,$10+ billion (USD)
3,Lead Analytics Consultant,₹4L - ₹6L (Glassdoor Est.),About this role:\n\nWells Fargo is seeking a L...,3.7,WELLS FARGO BANK\n3.7,Chennai,10000+ Employees,1852,Company - Public,Banking & Lending,Finance,$10+ billion (USD)
4,Innovation Digital Data Products & Insights Le...,₹4L - ₹6L (Glassdoor Est.),Wells Fargo is looking for a highly motivated ...,3.7,WELLS FARGO BANK\n3.7,Hyderābād,10000+ Employees,1852,Company - Public,Banking & Lending,Finance,$10+ billion (USD)