In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('glassdoor_jobs.csv')

In [5]:
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist - IT,₹4L - ₹6L (Glassdoor Est.),Job Location Mumbai\n\nJob Description\n\nAbou...,4.2,Procter & Gamble\n4.2,Mumbai,10000+ Employees,1837,Company - Public,Consumer Product Manufacturing,Manufacturing,$10+ billion (USD)
1,Data Scientist,₹4L - ₹6L (Glassdoor Est.),Description\n\nJOB DESCRIPTION\n\nSkill: Data ...,3.8,Virtusa\n3.8,Pune,10000+ Employees,1996,Company - Private,Information Technology Support Services,Information Technology,$2 to $5 billion (USD)
2,Data Scientist,₹4L - ₹6L (Glassdoor Est.),Brighter futures start here\nAnko is the globa...,3.4,Kmart\n3.4,Bangalore,10000+ Employees,1899,Subsidiary or Business Segment,General Merchandise & Superstores,Retail & Wholesale,$5 to $10 billion (USD)

In [6]:
df.shape

(978, 12)

In [8]:
# salary parsing
df = df[df['Salary Estimate'] != -1]

In [9]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary

0      ₹4L - ₹6L
1      ₹4L - ₹6L
2      ₹4L - ₹6L
3      ₹4L - ₹6L
4      ₹4L - ₹6L
          ...
973    ₹4L - ₹6L
974    ₹4L - ₹6L
975    ₹4L - ₹6L
976    ₹4L - ₹6L
977    ₹4L - ₹6L
Name: Salary Estimate, Length: 978, dtype: object

In [10]:
remove_R_L = salary.apply(lambda x: x.replace('L', '').replace('₹', ''))
remove_R_L

0      4 - 6
1      4 - 6
2      4 - 6
3      4 - 6
4      4 - 6
        ...
973    4 - 6
974    4 - 6
975    4 - 6
976    4 - 6
977    4 - 6
Name: Salary Estimate, Length: 978, dtype: object

In [14]:
df['Salary Estimate'].head(50)

0     ₹4L - ₹6L (Glassdoor Est.)
1     ₹4L - ₹6L (Glassdoor Est.)
2     ₹4L - ₹6L (Glassdoor Est.)
3     ₹4L - ₹6L (Glassdoor Est.)
4     ₹4L - ₹6L (Glassdoor Est.)
5     ₹4L - ₹6L (Glassdoor Est.)
6     ₹4L - ₹6L (Glassdoor Est.)
7     ₹4L - ₹6L (Glassdoor Est.)
8     ₹4L - ₹6L (Glassdoor Est.)
9     ₹4L - ₹6L (Glassdoor Est.)
10    ₹4L - ₹6L (Glassdoor Est.)
11    ₹4L - ₹6L (Glassdoor Est.)
12    ₹4L - ₹6L (Glassdoor Est.)
13    ₹4L - ₹6L (Glassdoor Est.)
14    ₹4L - ₹6L (Glassdoor Est.)
15    ₹4L - ₹6L (Glassdoor Est.)
16    ₹4L - ₹6L (Glassdoor Est.)
17    ₹4L - ₹6L (Glassdoor Est.)
18    ₹4L - ₹6L (Glassdoor Est.)
19    ₹4L - ₹6L (Glassdoor Est.)
20    ₹4L - ₹6L (Glassdoor Est.)
21    ₹4L - ₹6L (Glassdoor Est.)
22    ₹4L - ₹6L (Glassdoor Est.)
23    ₹4L - ₹6L (Glassdoor Est.)
24    ₹4L - ₹6L (Glassdoor Est.)
25    ₹4L - ₹6L (Glassdoor Est.)
26    ₹4L - ₹6L (Glassdoor Est.)
27    ₹4L - ₹6L (Glassdoor Est.)
28    ₹4L - ₹6L (Glassdoor Est.)
29    ₹4L - ₹6L (Glassdoor Est.)
30    ₹7L - ₹9L (Glassdoor Est.)
31    ₹7L - ₹9L (Glassdoor Est.)
32    ₹7L - ₹9L (Glassdoor Est.)
33    ₹7L - ₹9L (Glassdoor Est.)
34    ₹7L - ₹9L (Glassdoor Est.)
35    ₹7L - ₹9L (Glassdoor Est.)
36    ₹7L - ₹9L (Glassdoor Est.)
37    ₹7L - ₹9L (Glassdoor Est.)
38    ₹7L - ₹9L (Glassdoor Est.)
39    ₹7L - ₹9L (Glassdoor Est.)
40    ₹7L - ₹9L (Glassdoor Est.)
41    ₹7L - ₹9L (Glassdoor Est.)
42    ₹7L - ₹9L (Glassdoor Est.)
43    ₹7L - ₹9L (Glassdoor Est.)
44    ₹7L - ₹9L (Glassdoor Est.)
45    ₹7L - ₹9L (Glassdoor Est.)
46    ₹7L - ₹9L (Glassdoor Est.)
47    ₹7L - ₹9L (Glassdoor Est.)
48    ₹7L - ₹9L (Glassdoor Est.)
49    ₹7L - ₹9L (Glassdoor Est.)
Name: Salary Estimate, dtype: object

In [ ]:
# parsing of job description

In [ ]:
# company name text only

In [ ]:
# age of company